<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
            <h4 >Contact Us</h4>
            <ul>
                <li>Email address:routy@gmail.com</li>
                <li>Phone_Number:+254748428074</li>
                <li></li>
            </ul>
            </div>
            <div class="col-md-4 text-center">
            <h4 class="text-center">Routy App</h4>
            <ul>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/service">Our Services</a></li>
            </ul>
            </div>
            <div class="col-md-4 text-center">
            <h4 class="text-center">Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31910.130918748047!2d36.80390186031739!3d-1.3157376341122862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10fe06c2f605%3A0xf1d62766440d28e8!2sThe%20Stand%20Leisure%20Hotel!5e0!3m2!1sen!2ske!4v1652095095056!5m2!1sen!2ske" width="300" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="foot-text text-center">
            <h5>Copyright (c). RoutyApp</h5>
        </div>

    </div>
</div>
