.container-fluid{
    background-color: black;
    height: 100vh;
    color: white;
}
.buts {
    display: flex;
    background-color: black;
}
.btn{
    background-color: black;
}
.buts p{
    margin: 1rem 1rem;
}
.buts button{
    width: 6rem;
    height: 3rem;
}
input.ng-invalid{
    border-left: 5px solid red;
}
input.ng-valid{
    border-left: solid green;
}
.footer {
    margin-top: 4rem;
}