<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Parisienne&family=Tapestry&display=swap" rel="stylesheet">


<div class="container-fluid">
    <div class="container">
    <div class="heading text-center">
        <span>WELCOME  TO</span>
        <span>RoutePlan App</span>  
    </div>
    <div class="text">
        <p class="text-center">
            <span>We will be glad if you planned your routes with us </span>
        </p>
        
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="sub-heading">
                <h2>Are you a Manager?</h2>
            </div> 
            <a routerLink='/register' class="btn btn-primary">SignUp</a>
        </div>
        <div class="col-md-6 text-center">
            <div class="sub-heading">
                <h2>Are you a Mechandiser?</h2>
            </div> 
            <a routerLink='/registermech' class="btn btn-primary">SignUp</a>
        </div>

    </div>
    <!-- <div class="forms">
        <app-homedetails></app-homedetails>

    </div> -->
    <!-- <div class="">
        <app-login></app-login>
        <app-register></app-register>
    </div> -->
</div>
</div>
