.container-fluid{
    background-image: url('/assets/backg.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;

}
.heading {
    padding: 2rem;
    font-size: 35px;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    margin-bottom: 3rem;
    font-family: 'Tapestry', cursive;
    
}
span{
    display: block;
}
btn{
    background-color: black;
    width: 7rem;
}
.text {
    margin-bottom: 4rem;
    font-size: 25px;
    font-family: 'Tapestry', cursive;
}
h2 {
    font-family: 'Tapestry', cursive;
}
