.container-fluid{
    /* background-image: url('/assets/backg.png'); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 137vh;

}
.heading {
    padding: 2rem;
    font-size: 50px;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    margin-bottom: 3rem;
    font-family: 'Tapestry', cursive;
    
}
span{
    display: block;
}
.btn{
    margin-top: 1rem;
    background-color: white;
    width: 7rem;

}
.text {
    margin-bottom: 4rem;
    font-size: 25px;
    font-family: 'Tapestry', cursive;
}
h2 {
    font-family: 'Tapestry', cursive;
}
.col-md-5 img{
    width: 28rem;
    height: 20rem;
}
.footer {
    margin-top: 4rem;
}
p {
    margin-top: 3rem;
}
p span{
    display: block;
}