.container-fluid{
    background-color: black;
    color: white;
}
.heading{
    padding: 3rem;
}
p{
    font-size: 20px;
}
.card{
    width: 23rem;
    margin-right: 2rem;
    background-color: rgb(46, 43, 43);
    border: 2px;
    border-color: white;
}
.card img {
    height: 280px;
    width: 330px;
}
.card-title{
    font-size: larger;
    padding: 1rem;
}
p{
    margin-top: 1rem;
}
p span{
    display: block;
}
.footer {
    margin-top: 4rem;
}