<div class="container-fluid">
    <div class="container">
        <div class="heading text-center">
            <h2>Our Services</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-title text-center">

                    Assign Route
                    </div>
                    <div class="card-body">
                        <img src="assets/assign.jpg" alt="">
                        <p class="card-text text-center">
                            <span>Managers are able to </span>
                            <span>assign routes to the</span>
                            <span>merchandisers</span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                <div class="card-title text-center">
                Track Mechandiser
                </div>
                <div class="card-body">
                    <img src="assets/track.jpg" alt="">
                    <p class="card-text text-center">
                        <span>Managers are able to </span>
                        <span>track  mechandisers</span>
                        <span>assigned routes</span>
                    </p>
                </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-title text-center">
                    Delivery
                    </div>
                    <div class="card-body">
                        <img src="assets/delivery.webp" alt="">
                        <p class="card-text text-center">
                            <span>Delivery agents are able </span>
                            <span>to see their destination</span>
                            <span>routes to deliver</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>