<div class="container-fluid">
    <div class="container">
        <div class="heading text-center">
            <h2>About Us</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-center">
                    The Routes business is focused entirely on aviation route development and the company's portfolio includes events, media and online businesses.

The company organises and operates world-renowned airline and airport networking events through its regional and World Route Development Forums. They are held in key markets throughout the year in Asia, Europe and the Americas.

These events are supported by the online platform for air service development, Routes 360, which provides airports with the ability to promote their market opportunities and acts as the airline industry's central source of market data and route development information.

Register with us today, create your free personal profile and start connecting with the route development community online. Visit our events listing for a full list of upcoming events, find out all the latest route development news and analysis in our news area, listen to our latest podcasts and sign-up to Routes 360 for more opportunities to expand your network and join a global community of air service development professionals.

                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/about5.webp" alt="">
                <img src="/assets/about3.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>